.container {
  display: grid;
  gap: 10px;
}

/* Layout de três colunas em telas grandes */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Layout de uma coluna em telas pequenas */
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.item {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

